/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  position: fixed;
  width: 98%;
  z-index: 200;
  box-shadow: 0px 1px 15px 0px #82828285;
}
.avatar {
  width: 3em;

  margin-left: 15em;

  margin-right: 2em;
  border-radius: 78px;
}
.logo {
  font-size: 2.5em;
  font-weight: bold;
}
.logo img {
  width: 6em;
}

/* Hamburger menu (hidden by default) */
.hamburger {
  font-size: 2em;
  cursor: pointer;
  display: none;
}

/* Navigation links */
.nav-links {
  display: flex;
  align-items: center;
}

/* Individual link styling */
.nav-links a {
  margin: 0 10px;
  color: #4285f4;
  text-decoration: none;
  transition: 0.4s;
}
.nav-links a:hover {
  transform: scale(1.2);
}
/* Auth buttons */
.auth-buttons {
  display: flex;
  /* flex-direction: column; */
  margin-left: 15em;
}

/* Login and register buttons */
.auth-buttons .login,
.auth-buttons .register {
  margin: 5px 10px;
  padding: 10px 40px;
  border: none;
  background-color: #179bd7;
  color: white;
  cursor: pointer;
  font-size: 1em;
  border-radius: 15px;
  text-align: center;
}
.custom-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #0056b3;
}
.bar-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  border-radius: 5px;
  margin: 10px;
  width: 100%;
  max-width: 200px;
}

.big-text {
  font-size: 2.5rem;
  margin: 10px 0;
  color: #fff;
  letter-spacing: 2px;
}
b {
  color: #ff5252;
}
.short-text {
  font-size: 16px;
  color: #fff;
}
.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-inline: 20px;
  background-color: #212121;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  gap: 10px;
  width: 70%;
  border: solid 2px #0077b6;
  border-radius: 50px;
}
.search-bar img {
  padding: 10px 12px;
  border-radius: 50px;
  background: #ccc;
}

.search-select {
  padding: 10px;
  font-size: 16px;
  border: 0px solid #ddd;
  border-radius: 5px;
  width: 35%;
}
.search-select:focus {
  outline: none;
}
.search-bar span {
  height: 45px;
  width: 1px;
  background: #999;
  border-radius: 30%;
}
.search-button {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 12px 22px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 39px;
  transition: background-color 0.3s;
  display: flex;
}
.search-button img {
  padding: 0 10px;
  border-radius: 0;
  background: transparent;
}
.search-button:hover {
  background-color: #0056b3;
}
.category-button {
  background-color: #fff;
  color: #000;
  border: solid 2px #4285f4;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s;
  margin: 5px;
}

.category-button:hover {
  background-color: #0077b6;
  color: #fff;
}

.category-button:hover span {
  background-color: #fff;
  color: #0077b6;
}
.category-button span {
  background: #0077b6;
  padding: 2px 10px;
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
  transition: 0.3s;
}
.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.job-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 1em 2em;
  margin: 10px;
  max-width: 22em;
  min-width: 22em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.job-card span {
  height: 1px;
  width: 100%;
  background: #212121;
}
.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1.5em;
}
.bottom-job-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-info {
  display: flex;
  flex-direction: column;
}

.company-name {
  font-size: 20px;
  margin: 0;
}

.location {
  font-size: 16px;
  color: #666;
  margin: 0;
  text-align: left;
}
.location img {
  margin-inline: 20px 5px;
}

.save-button {
  background-color: #fff;
  color: #4285f4;
  border: solid 2px #4285f4;
  padding: 10px 20px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s;
  margin: 5px;
}

.save-button:hover {
  color: #0056b3;
}

.job-details {
  margin-bottom: 10px;
}

.job-category {
  font-size: 1.2rem;
  color: #007bff;
  text-align: left;
  margin-block: 10px;
  font-weight: bolder;
}
.job-time {
  font-size: 0.6rem;
}
.job-description {
  font-size: 1rem;
  margin: 5px 0;
  color: #333;
  height: 5em;
}

.apply-button {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.apply-button:hover {
  background-color: #00507c;
}
.job-box {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #f9f9f9;
  flex-wrap: wrap;
}

.see-more-button {
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.see-more-button svg {
  margin-left: 5px;
}
.pub-slide {
  display: flex;
  width: 85%;
  margin-block: 10em;
  align-items: center;
  padding: 2em;
  background-color: #212121;
  border: 1px solid #ddd;
  height: 18em;
  margin-left: 10.5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 120px;
  border-bottom-left-radius: 120px;
}

.left-box {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 100px;
  width: 30%;
  margin-right: 10em;
}

.left-box h3 {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 3rem;
}

.right-content {
  flex: 2 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #4285f4;
}

.right-content p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #fff;
  text-align: justify;
}

.join-button {
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
  width: 25%;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.join-button:hover {
  background-color: #176af0;
}
.language-switcher {
  margin-left: 20px;
}
.new-jobs-alert {
  background-color: #ffffffd7;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  filter: blur(2px);
  /* box-shadow: 0 0 8px #000; */
  border: 2px solid #000;
}
.black_alert_screen span {
  position: absolute;
  z-index: 10000;
  color: #176af0;
  font-size: 2.2rem;
}
.black_alert_screen {
  width: 100%;
  height: 100vh;
  background: #000000b1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.close-btn {
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 12em;
  right: 26em;
}

.close-btn:hover {
  opacity: 0.7;
}

.language-switcher select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .App {
    overflow-x: hidden;
  }
  .logo img {
    width: 55vw;
  }
  .hamburger {
    display: block;
  }
  .navbar {
    width: 95%;
    padding: 0 0.5em;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
  }
  .nav-links.open {
    display: flex;
  }
  .nav-links a {
    margin: 10px 0;
    color: white;
  }
  .auth-buttons {
    flex-direction: column;
    margin-left: 0;
  }
  .bar {
    padding: 0;
    align-items: center;
    width: 102%;
    flex-direction: column;
  }
  .bar-element {
    transform: scale(0.8);
  }
  .left-box {
    display: none;
  }
  .right-content h1 {
    font-size: 1.5rem;
  }
  .right-content p {
    font-size: 14px;
  }
  .join-button {
    width: 30%;
  }
  .wrapper {
    width: 100vw;
  }
  .search-bar {
    flex-direction: column;
  }
  .search-bar span {
    width: 100%;
    height: 1px;
  }
  .job-card {
    max-width: 60vw;
    min-width: 60vw;
  }
  .job-box {
    padding: 0;
  }
}
